<a href="https://colab.research.google.com/github/Shriya33/Data-Science-Internship-Basics/blob/main/Data_Cleaning_%26_Missing_Value_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

df = sns.load_dataset('tips')

df.iloc[2:5, 1] = np.nan
df.iloc[10:15, 3] = np.nan
df.iloc[20:25, 5] = np.nan

print("Dataset with Missing Values:")
print(df.head(10))

df['tip'].fillna(df['tip'].mean(), inplace=True)
df['sex'].fillna(df['sex'].mode()[0], inplace=True)
df['day'].fillna(df['day'].mode()[0], inplace=True)

df.drop_duplicates(inplace=True)

df.columns = df.columns.str.lower().str.replace(' ', '_')

print("\nCleaned Dataset:")
print(df.head(10))

Dataset with Missing Values:
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01   NaN    Male     No  Sun  Dinner     3
3       23.68   NaN    Male     No  Sun  Dinner     2
4       24.59   NaN  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

Cleaned Dataset:
   total_bill       tip     sex smoker  day    time  size
0       16.99  1.010000  Female     No  Sun  Dinner     2
1       10.34  1.660000    Male     No  Sun  Dinner     3
2       21.01  2.992365    Male     No  Sun  Dinner     3
3       23.68  2.992365    Male     No  Sun  Dinner     2
4       24.59  2.992365  Female     No  Sun  Dinner     4
5       25.29  4.710000    Male     No  Sun  Dinner     4
6        8.77  2.000000    Male     No  Sun  Dinner     2
7       26.88  3.120000    Male     No  Sun  Dinner     4
8       15.04  1.960000    Male     No  Sun  Dinner     2
9       14.78  3.230000    Male     No  Sun  Dinner     2

<ipython-input-1-7086b1918b07>:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['tip'].fillna(df['tip'].mean(), inplace=True)
<ipython-input-1-7086b1918b07>:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sex'].fillna(df['sex'].mode()[0], inplace=True)
<ipython-input-1-7086b1918b07>:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['day'].fillna(df['day'].mode()[0], inplace=True)